.accordion__icon {
  position: relative;
}
.accordion__icon .icon {
  transition: all 0.2s ease-out;
}
.accordion__icon .icon:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.accordion__icon .icon:nth-child(2) {
  position: relative;
  transform: rotate(-90deg);
  opacity: 0;
}
.accordion__item .accordion__button[aria-expanded=true] .accordion__icon > *:nth-child(1) {
  transform: rotate(90deg);
  opacity: 0;
}
.accordion__item .accordion__button[aria-expanded=true] .accordion__icon > *:nth-child(2) {
  transform: none;
  opacity: 1;
}
.accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.accordion__button {
  cursor: pointer;
}

.accordion.-simple .accordion__button {
  cursor: pointer;
  transition: 0.4s;
}
.accordion.-simple .accordion__button button {
  color: var(--text-dark-1);
}
.accordion.-simple .accordion__icon {
  transition: all 0.2s ease-out;
}
.accordion.-simple .accordion__icon > *:nth-child(1) {
  position: absolute;
  transition: all 0.2s ease-out;
}
.accordion.-simple .accordion__icon > *:nth-child(2) {
  position: relative;
  transform: rotate(-90deg);
  opacity: 0;
  transition: all 0.2s ease-out;
}
.accordion.-simple .accordion__item .accordion__button[aria-expanded=true] .accordion__icon {
  background-color: var(--color-dark-1) !important;
  color: white !important;
}
.accordion.-simple .accordion__item .accordion__button[aria-expanded=true] .accordion__icon > *:nth-child(1) {
  transform: rotate(90deg);
  opacity: 0;
}
.accordion.-simple .accordion__item .accordion__button[aria-expanded=true] .accordion__icon > *:nth-child(2) {
  transform: none;
  opacity: 1;
}

.accordion.-map .accordion__icon {
  transition: all 0.2s ease-out;
}
.accordion.-map .accordion__item.is-active .accordion__icon {
  background-color: var(--color-blue-1) !important;
  color: white !important;
}
.accordion.-map .accordion__item.is-active .accordion__icon > * {
  transform: none !important;
  opacity: 1 !important;
}

.accordion.-db-sidebar .accordion__button {
  cursor: pointer;
  transition: 0.4s;
}
.accordion.-db-sidebar .accordion__button button {
  color: var(--text-dark-1);
}
.accordion.-db-sidebar .accordion__icon {
  transition: all 0.2s ease-out;
}
.accordion.-db-sidebar .accordion__icon > *:nth-child(1) {
  position: absolute;
  transition: all 0.2s ease-out;
}
.accordion.-db-sidebar .accordion__icon > *:nth-child(2) {
  position: relative;
  transform: rotate(-90deg);
  opacity: 0;
  transition: all 0.2s ease-out;
}
.accordion.-db-sidebar .accordion__item.is-active .sidebar__button {
  background-color: color-opac(blue-1, 0.05) !important;
  color: var(--color-blue-1) !important;
}
.accordion.-db-sidebar .accordion__item.is-active .accordion__icon {
  background-color: var(--color-dark-1) !important;
  color: white !important;
}
.accordion.-db-sidebar .accordion__item.is-active .accordion__icon > *:nth-child(1) {
  transform: rotate(90deg);
  opacity: 0;
}
.accordion.-db-sidebar .accordion__item.is-active .accordion__icon > *:nth-child(2) {
  transform: none;
  opacity: 1;
}/*# sourceMappingURL=accordion.css.map */